@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  /* dark --prefersdark; */
}
:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --color-neutral: #4a4947;
  --color-accent: #b17457;
  --color-secondary: #d8d2c2;
  --color-primary-content: #faf7f0;
  transition: 0.3s;
}
* {
  outline: none;
}

button {
  cursor: pointer;
}
